.homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0; 
    padding: 0;
    overflow: hidden;
    height: 100vh;
    padding-bottom: 50px;
    z-index: 0
}

.students-container, .assignment-container, .stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%; 
    height: auto;
    transition: all 0.3s ease;

}

.exercise-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; 
    height: auto;
    transition: transform 0.3s ease, width 0.3s ease

}

.students-container:hover, .assignment-container:hover, .stats-container:hover, .exercise-container:hover {
    transform: translateY(-4px);
    width: 41%;
    cursor: pointer;
}

.astro-ctn {
    position: fixed;
    z-index: -10;
    left: 10px;
    bottom: 10px;
    width: 350px;
    transform: rotateZ(10deg);
}

.logo-ctn {
    position: fixed;
    z-index: -10;
    /* right: 10px; */
    top: 10px;
    opacity: .5;
    /* width: 350px; */
    /* transform: rotateZ(10deg); */
}

.guy-ctn {
    position: fixed;
    right: -100px;
    bottom: -50px;
    z-index: -10;
    transform: rotateY(180deg);
    width: 500px;
}