.create-exercise-modal {
    /* padding: 50px; */
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 700px;
    overflow: auto;
    padding: 10px;
    
}

.create-exercise-modal::-webkit-scrollbar {
    width: 12px; 
    height: 12px;
}

.create-exercise-modal::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px; 
}

.create-exercise-modal::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,  rgba(75, 9, 121, 0.9), rgba(252, 0, 255, 0.8),); 
    border-radius: 10px; 
    border: 1px solid rgba(67, 20, 112, 0.5); 
}

.create-exercise-modal::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, rgba(252, 0, 255, 1), rgba(75, 9, 121, 1)); 
}


.create-exercise-modal::-webkit-scrollbar-thumb:active {
    background: linear-gradient(45deg, rgba(255, 100, 255, 1), rgba(121, 0, 200, 1)); 
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-container {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

input[type="text"] {
    width: 70%;
    padding-top: 10px;
}

textarea, select {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    background-color: #B6B6B6;
    border-radius: 5px;
}

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.createExercise-question-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(67, 20, 112, 0.877);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    gap: 10px;
    /* padding: 0; */
    /* margin: 0; */
}

.options-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.last-button{
    padding-top: 15px;
    padding-bottom: 50px;
}