.create-exercise-modal {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 700px;
    overflow: auto;
    padding: 10px;
    background-color: rgba(2, 62, 125, 0.8); 
    color: #F0F7F4; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 24, 69, 0.5);
}

.create-exercise-modal::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.create-exercise-modal::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

.create-exercise-modal::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #0466C8, #40B6F8); /
    border-radius: 10px;
    border: 1px solid rgba(2, 62, 125, 0.5);
}

.create-exercise-modal::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #40B6F8, #0353A4);
}

.create-exercise-modal::-webkit-scrollbar-thumb:active {
    background: linear-gradient(45deg, #49C6FF, #023E7D);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-container {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
    border: 1px solid #002855;
    background-color: #7D8597; 
    color: #F0F7F4; 
}

textarea,
select {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    background-color: #7D8597; 
    border-radius: 5px;
    border: 1px solid #002855;
    color: #F0F7F4;
    padding: 10px;
}

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.createExercise-question-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 40, 85, 0.9); 
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 24, 69, 0.5);
    transition: background-color 0.3s ease;
}

.createExercise-question-box:hover {
    background-color: rgba(3, 83, 164, 0.9); 
}

.options-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.last-button {
    padding-top: 15px;
    padding-bottom: 50px;
}
