.exercise-todo-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 0;
}

.exercisePage-question-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  z-index: 10;
  background-color: rgba(2, 62, 125, 0.1); 
  color: #0466C8;
  border-radius: 10px;
}

.question-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  background-color: rgba(0, 40, 85, 0.9); 
  border-radius: 20px;
  width: 100%;
  min-width: 300px;
  max-width: 96%;
  height: 26%;
  padding: 20px;
  transition: all 0.3s ease;
  color: #F0F7F4; 
  box-shadow: 0 0 0.5em rgba(0, 24, 69, 0.5); 
}

.question-box:hover {
  background-color: rgba(3, 83, 164, 0.9); 
}

.options-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.radio-wrapper-32 {
  display: flex;
  align-items: center;
}

.radio-wrapper-32 label {
  color: #7D8597; 
}

.radio-wrapper-32 input {
  -webkit-appearance: none; 
  display: block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px, inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
  background-color: hsla(0, 0%, 0%, 0.2);
  background-image: -webkit-radial-gradient(hsla(200, 100%, 90%, 1) 0%, hsla(200, 100%, 70%, 1) 15%, hsla(200, 100%, 60%, 0.3) 28%, hsla(200, 100%, 30%, 0) 70%);
  transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1), transform 0.25s cubic-bezier(0.8, 0, 1, 1);
  outline: none;
}

.radio-wrapper-32 input:checked {
  transform: scale(1.2); 
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.exercisePage-question-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.exercisePage-question-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

.exercisePage-question-container::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgba(4, 70, 200, 0.9), rgba(40, 182, 248, 0.8));
  border-radius: 10px;
  border: 1px solid rgba(2, 62, 125, 0.5);
}

.exercisePage-question-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, rgb(40, 182, 248), rgba(4, 70, 200, 1));
}

.exercisePage-question-container::-webkit-scrollbar-thumb:active {
  background: linear-gradient(45deg, rgb(73, 198, 255), rgba(4, 70, 200, 1));
}

.submit-exercise-btn {
  padding-top: 50px;
  padding-bottom: 100px;
  color: #F0F7F4; 
}

.circular-waves {
  top: 25%;
  z-index: -10;
}
