.exercises-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

.h1-exercises {
    padding-top: 50px;
    z-index: 10;

}

.exercisesPage-exercises-container {
    height: calc(80vh - 50px);
    overflow-y: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 100px;
    z-index: 10;
    gap: 20px;
    height: fit-content;
    background-color: rgba(2, 62, 125, 0.05); 
}

.singleExercise-box {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 40, 85, 0.9); 
    border-radius: 20px;
    width: 70%;
    height: fit-content;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 0.5em rgba(0, 24, 69, 0.5); 
    color: #979DAC;
    transition: all 0.3s ease;
}

.singleExercise-box:hover {
    background-color: rgba(3, 83, 164, 0.9); 
    transform: translateY(-4px);
}

.exercisePage-exercise-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.8rem;
    color: #FFFFFF; /* White text for clarity */
}

.start-btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.edit-button,
.delete-button,
.create-exercise-button {
    --glow-color: #F0F7F4; /* Light neutral glow */
    --glow-spread-color: rgba(74, 121, 197, 0.781); /* Soft gradient spread */
    --btn-color: #023E7D; /* Medium blue button color */
    border: 0.15em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.8em 0.25em var(--glow-color),
        0 0 4em 0.8em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 10;
}

.edit-button:hover,
.delete-button:hover,
.create-exercise-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    cursor: pointer;
}

.edit-button:active,
.delete-button:active,
.create-exercise-button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}
