.landingPage {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.background-img {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: -100;
}

.homepage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  background-color: rgba(0, 40, 85, 0.9); 
  padding: 30px;
  border-radius: 20px;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #002855;
  --clr-2: #0353A4;
  --clr-3: #0466C8;
  --clr-4: #40B6F8;
  --clr-5: #7D8597;
}

.homepage-box {
  height: 30vh;
  position: relative;
}

.homepage-box::before,
.homepage-box::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.homepage-box::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.h1-title {
  color: #F0F7F4; 
  text-shadow: 0 0 0.5em #F0F7F4;
}

.signup-btn,
.login-btn {
  --glow-color: #F0F7F4;
  --glow-spread-color: rgba(4, 102, 200, 0.7);
  --enhanced-glow-color: #F0F7F4;
  --btn-color: #023E7D;
  border: 0.15em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.signup-btn:hover,
.login-btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.signup-btn:active,
.login-btn:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.homepage-buttons {
  padding-top: 10%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.guitar-ctn {
  position: fixed;
  width: 400px;
  bottom: 10px;
  left: 10px
}

.speaker-ctn {
  position: fixed;
  top: 50px;
  right: -60px
}