.assign-modal-ctn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}

.section-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 50px;
    background-color: rgba(2, 62, 125, 0.1); /* Subtle background color */
    border-radius: 8px;
}

.singleExercise-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.exercisePage-exercise-box {
    text-align: left;
    width: 100%;
    color: #979DAC; /* Light gray-blue for text */
}

.section-box::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.section-box::-webkit-scrollbar-track {
    background: rgba(0, 18, 33, 0.1); /* Subtle dark background for the track */
    border-radius: 10px;
}

.section-box::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(4, 70, 200, 0.9), rgba(2, 62, 125, 0.8)); /* Gradient thumb */
    border-radius: 10px;
    border: 1px solid rgba(0, 24, 69, 0.5); /* Darker border for contrast */
}

.section-box::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, rgba(4, 70, 200, 1), rgba(2, 62, 125, 1)); /* Brighter gradient on hover */
}

.section-box::-webkit-scrollbar-thumb:active {
    background: linear-gradient(45deg, rgba(73, 198, 255, 1), rgba(4, 70, 200, 1)); /* Enhanced brightness on active */
}
