.profile-container {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures Lottie stays inside container */
  cursor: pointer;
}

.profile-dropdown {
  --glow-color: #7D8597; /* Softer light color */
  --glow-spread-color: rgba(2, 70, 200, 0.5); /* Spread glow with medium blue */
  --enhanced-glow-color: #0466C8; /* Enhanced glow with brightest blue */
  --btn-color: #002855; /* Deep navy blue */
  position: absolute;
  top: 100px; /* Position dropdown relative to the profile icon */
  right: 200px;
  background-color: var(--btn-color);
  box-shadow: 0 0 0.5em 0.12em var(--glow-color),
    0 0 1em 0.5em var(--glow-spread-color),
    inset 0 0 0.35em 0.12em var(--glow-color);
  list-style-type: none;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  border-radius: 50%;
  width: 10rem;
  aspect-ratio: 1 / 1;
}

ul {
  list-style-type: none;
}

.nav-container {
  background-color: rgba(2, 62, 125, 0.85); /* Medium blue with transparency */
  box-shadow: 0 0 0.5em #023E7D; /* Darker blue shadow */
  position: fixed;
  width: 100%;
  z-index: 1000;
  min-height: 100px;
}

.nav-box {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  height: 100px;
  overflow: hidden;
}

.all-navlinks {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.profile-box {
  width: 10rem;
}

.logout-button {
  --glow-color: #7D8597; /* Softer light color */
  --glow-spread-color: rgba(4, 102, 200, 0.5); /* Spread glow with brightest blue */
  --enhanced-glow-color: #0466C8; /* Enhanced glow with brighter blue */
  --btn-color: #001845; /* Deep navy */
  border: 0.15em solid var(--glow-color);
  padding: 0.75em 2em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 0.4em 0.12em var(--glow-color),
    0 0 2em 0.4em var(--glow-spread-color),
    inset 0 0 0.33em 0.12em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.logout-button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 0.5em 0.12em var(--glow-color),
    0 0 2em 1em var(--glow-spread-color),
    inset 0 0 0.35em 0.12em var(--glow-color);
  cursor: pointer;
}

.logout-button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.ear-trainer {
  position: fixed;
  left: 12%;
}